<footer>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="tennis.html">Tennis</a></li>
      <li><a href="squash.html">Squash</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
    <div class ="footer-social">
      <a href ="https://www.facebook.com/BallypatrickSportsCentre/">
        <img src ="img/facebook.png" alt="facebook"></a>
      <a href ="https://www.instagram.com/ballypatrick_sports_centre/">
        <img src ="img/instagram.png" alt="instgram"></a>
         <a href ="#">
        <img src ="img/whatsapp.png" alt="whatsapp"></a>
       </div>
  </footer>