<header>
  <a href="index.html" class = "header-brand"> 
   <b>Ballypatrick Sports Centre</b></a>
   <nav>
      <ul>
        <li class="active"><a href="tennis.html">Tennis</a></li>
        <li class="active"><a href="squash.html">Squash</a></li>
        <li class="active"><a href="coaching.html">Coaching</a></li>
        <li class="active"><a href="about.html">About us</a></li>
        <li class="active"><a href="contact.html">Contact</a></li>
        <li class="active"><a href="gallery.html">Gallery</a></li>
      </ul>
        <a href="https://fastcourts.com/clubs/bookings/BallypatrickSportsCentre" class = "header-book"> Book a Court</a>
    </nav>
</header>