<!DOCTYPE html -->
<html>
<head>
<title>Ballypatrick Sports Centre</title>
<meta name ="viewport" content ="width =device-wisth,initial-scale=1.0">
<link href="css/home.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet'type='text/css' >
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Roboto&display=swap" rel="stylesheet">
<style>
@import url('https://fonts.googleapis.com/css?family=Abel|Roboto&display=swap');
</style>
</head>
<body>
 <%- include('./partials/_header.ejs'); %>
 <main>
  <div class ="wrapper">
   <div class="about">
      <h2>About Us</h2>
      <img src="img/sportscentre.jpg">
         <article>
          <h3>Established in 1951</h3>
            <p>Ballypatrick Sports Centre, established in 1951, is a not for profit cmmunity based organisation. our aim is to promote sport, social and tourism activitie. Since we moved to ur cuurent location in 1978, we have continued to deveope our facilities through voluntary labout and loally raised funds.  </p>
            <h3>Management</h3>
            <p>The club in operated under its written constitution. teh general committee of 16 members are elected to each AGM and from the Chairperson, Secretar, Treasurer and a stadnign group of 8 trustee are chosen. Full accounts  are presented at the AGM each year and the minutes of all Executive and Committee meetings are recorder,adopted as correct and safely filed. We are compliant in all regulatory areas of management and policy</p>
            <h3>Funding</h3>
            <p>Our Operational funding come from two source; Membership raise approximately 80% and 20% is accrued from our community-based card night. Summer barbequ, tennis and squash leagues in Winter and Spring bring  in additioanl funds.</p>
            <h3>Planning Ahead & Fundraising</h3>
            Given our increasing adult and junior memberhsip numbers we need to future proof our facilitie. The proposed enhancements are as follows;
            <ul>
              <li>Additional fourth tennis court to meet the needs of our members.</li>
              <li>improving our car parking facilities to ensure safety of all members due to the increase in traffic entering the centre.</li>
              <li>Creating a viewing area which will further enhance the social aspect to our club by enabling spectators to watch games and enjoy the facilities.</li>
              <li>Upgrading of lighting and heating in the Squash Courts</li>
            <p>As a progressive club we are now fundraising to make this a reality. In November 2019 we were awarded €56,000 in Sports Capital Funding which was a great boost and encouragement to our plans and fundraising objectives.</p>


            </ul>
          

            <p> <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9739.343000077213!2d-7.5413084!3d52.3915278!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb532ad38f6c52b2e!2sBallypatrick%20Tennis%20Club!5e0!3m2!1sen!2sie!4v1582912208143!5m2!1sen!2sie" width="800" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></p>
        </div>
   </div> 
  </div>
 </main>
 
  <%- include('./partials/_footer.ejs'); %>
</div>
</body>
</html>
