<!DOCTYPE html -->
<html>
<head>
<title>Ballypatrick Sports Centre</title>
<meta name ="viewport" content ="width =device-wisth,initial-scale=1.0">
<link href="css/home.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet'type='text/css' >
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Roboto&display=swap" rel="stylesheet">
<style>
@import url('https://fonts.googleapis.com/css?family=Abel|Roboto&display=swap');
</style>
</head>
<body>
 <%- include('./partials/_header.ejs'); %>
 <main>
  <div class ="wrapper">
   <section class="coaching-page">
    <h2>Coaching</h2>
      <img src="img/coaching.jpg">
         <article>
          <h3>Coach Jaco</h3>
        <p>We offering one on one or group coaching for all levels. Our club coach Jaco, offers a great inside to the technical aspect to tennis. One off lessons or coaching package are availabe for all levels and age groups. If you are just taking up tennis, we would highly recommend to get some lessons.   </p>
        <p>For more informationabout getting some tennis coching lessons contact Jaco directly on 087111111.</p>
          
         </article>
       <div class="coaching">
        <div id="column-1">
          <h3>Background</h3>
          <ul>
           <li> Born in South Africa</li>
            <li>Moved to Ireland at age 12</li>
            <li>Went to CBS High School Clonmel</li>
            <li>Studied in DIT Bolton St</li>
            <li>Living and Working Full Time in Cashel</li>
          </ul>
          
        </div>
        <div id="column-2">
          <h3>Achievements</h3>
          </ul>
            <li>No.1 in Ireland Mixed Doubles Ranking 2019</li>
           <li>No.31 in  Singles in Ireland 2019</li>
            <li>No.30 in Doubles in Ireland 2019</li>
            <li>14 open week titles</li>
          </p>
         </div>
         <div id="column-3">
          <h3>Qualifications</h3>
          <p>
            <li>Tennis Ireland Level 1</li>
            <li>Moved to Ireland at age 12</li>
            <li>Went to CBS High School Clonmel</li>
            <li>Studied in DIT Bolton St</li>
            <li>Living and Working Full Time in Cashel</li>
          </p>
        
        </div>
      </div>
        
   </section>
  </main>
 
<%- include('./partials/_footer.ejs'); %>
</div>
</body>
</html>
