<!DOCTYPE html -->
<html>
<head>
<title>Ballypatrick Sports Centre</title>
<meta name ="viewport" content ="width =device-wisth,initial-scale=1.0">
<link href="css/home.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet'type='text/css' >
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Roboto&display=swap" rel="stylesheet">
<style>
@import url('https://fonts.googleapis.com/css?family=Abel|Roboto&display=swap');
</style>
</head>
<body>
 <%- include('./partials/_header.ejs'); %>
 <main>
  <div class ="wrapper">
   <div class="conact">
      <h2>Contact Us</h2>
      <img src="img/contact.jpg">
         <article>
          <h3>Club Contact Details </h3>
          <p>John Purcell (Chairperson) 087 7502981 </p>
          <p>Stanely O'Reilly (Secetary) 086 2241734</p>
          <p>Rosaleen Foley (Treasurer) 087 7572553</p>
          <p>Elaine Walsh (Tennis Captain) 086 8116310</p>
          <p>Paddy Coady (Squash Captain) 087 2314751</p>
          <p></p>
          <p>We appreciate your support in helping us achieve our amitions for our wonderful centre.</p>
          <article>
        </div>
   </div> 
  </div>
 </main>
 
  <%- include('./partials/_footer.ejs'); %>
</div>
</body>
</html>
