<!DOCTYPE html -->
<html>
<head>
  <title>Ballypatrick Sports Centre</title>
  <meta name ="viewport" content ="width =device-wisth,initial-scale=1.0">
<link href="css/home.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet'type='text/css' >
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Roboto&display=swap" rel="stylesheet">
<style>
@import url('https://fonts.googleapis.com/css?family=Abel|Roboto&display=swap');
</style>
</head>
<body>
 <%- include('./partials/_header.ejs'); %>
 <main>
  <div class ="wrapper">
    <h2>Fitness Classes</h2>
    <div class="fitness">
       <div id="fitnesscol-1">
        <img src="img/fitnessclasses1.jpg">
        </div>
         <div id="fitnesscol-2">
           <ul>
            <li>Lose Weight </li>
            <li>Get in shape for the summer</li>
            <li>Increase Fitness</li>
            <li>Tone Up</li>
            <li>Meet New People</li>
            <li>Suitable for all fitness levels</li>
          </ul>
            <P>To book classes please contact Paddy Coady on 087 2314751</P>
          </div>
      </div>
       </div>
    </div>
   </section>
   <main>
  <%- include('./partials/_footer.ejs'); %>
</div>
</body>
</html>
