<!DOCTYPE html -->
<html>
<head>
<title>Ballypatrick Sports Centre</title>
<meta name ="viewport" content ="width =device-wisth,initial-scale=1.0">
<link href="css/home.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet'type='text/css' >
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Roboto&display=swap" rel="stylesheet">
<style>
@import url('https://fonts.googleapis.com/css?family=Abel|Roboto&display=swap');
</style>
</head>
<body>
 <%- include('./partials/_header.ejs'); %>
 <main>
  <div class ="wrapper">
    <h2>When Should I Restring My Racket?</h2>
    <div class="restring">
       <div id="restringcol-1">
        <img src="img/restring1.jpg">
        </div>
         <div id="restringcol-2">
          When Should I restring My Racket?
           </ul>
            <li>If you play twice a week </li>
            <li>Costs €20.00 (gut included)</li>
            <li>If you notice loss of spin</li>
            <li>The sound changes</li>
            <p>Contact Liam Tobin (086) 8539301</p>

            <P>To book classes please contact Paddy Coady on 087 2314751</P>
          </div>
      </div>
       </div>
    </div>
   </section>
   <main>
<%- include('./partials/_footer.ejs'); %>
</div>
</body>
</html>
