<!DOCTYPE html -->
<html>
<head>
<title>Ballypatrick Sports Centre</title>
<meta name ="viewport" content ="width =device-wisth,initial-scale=1.0">
<link href="css/home.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet'type='text/css' >
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Roboto&display=swap" rel="stylesheet">
<style>
@import url('https://fonts.googleapis.com/css?family=Abel|Roboto&display=swap');
</style>
</head>
<body>
 <%- include('./partials/_header.ejs'); %>
 <main>
  <div class ="wrapper">
   <section class ="tennis-page">
     <div class="tennis-adult">
      <article>
       <h2>Tennis</h2>
       <img src="img/clubhouse.jpg">
        <p>Ballypatrick sports centre has a vibrant relaxed and friendly adults tennis club with over 200 active members and 102 junior members from Tipperary, Kilkenny and Waterford. Ballypatrick Tennis Club is a members only club. </p>
        <h3>Membership</h3>
        <p>Membership Rates for 2020</p>
        <p>Payments can be made to any committee member, or through our online bank. The online banking details are as follows, and we urge members to consider this method.</p>

         <table>
          <tr>
           <th>Account Number </th>
           <th>26249955</th>
          </tr>
          <tr>
           <th>Sort Code</th>
           <th>906005</th>
          </tr>
          <tr>
           <th>IBAN</th>
           <th>IE25BOFI90600526249955</th>
          </tr>
          </table>
        </p>
         <table>
          <tr>
           <th>Category</th>
           <th>Amount</th>
          </tr>
          <tr>
           <th>Adult</th>
           <th>€100</th>
          </tr><tr>
           <th>Couple and family to 18 years</th>
           <th>€200</th>
          </tr>
          <tr>
           <th>Couple or couple and family to 15 years</th>
           <th>€180</th>
          </tr>
          <tr>
           <th>Senior members(over 65 years)</th>
           <th>€60</th>
          </tr>
          <tr>
           <th>Student and under 18 years </th>
           <th>€40</th>
          </tr>
          <tr>
           <th>Under 15 years </th>
           <th>€20</th>
          </tr>
          <tr>
           <th>Pavillion Membership </th>
           <th>€20</th>
          </tr>
          <tr>
           <th>Holiday Membership (Adult)** </th>
           <th>€20</th>
          </tr>
          <tr>
           <th>Holiday Membership (Under 18 years)** </th>
           <th>€10</th>
          </tr>
          <tr>
           <th>Visitors (Per game)** </th>
           <th>€5</th>
          </tr>
        </table>
           
           <p>(By invitation of a member)</p>
           <p>*Age at the 1st of January 2019</p>
           <p>** Per week, or part of the week</p>
        <h3>Facilities</h3>
        <p>Presently we have a Club Pavillion with catering and  shower/changing facilities, 3 floodlit all weather tennis courts, a tennis practice wall, 2 squash court, 2 indoor tabletennis areas and provide tennis squash and table tennis, dance and keeo fit classes for all ages and abilites.</p>

       <div class="facilities">
        <div id="facilitiescol-1">
         <img src="img/tennislobster.jpg">
          </div>
           <div id="facilitiescol-2">
           <h3>Try Our New Ball Machine</h3>
            <ul>
             <li>Devlopement your game</li>
             <li>Corner to corner ball firing</li>
             <li>2 Hours battery life</li>
             <li>Great for training fore and back swings</li>
             <li>Suitable for beigners and advanced levels</li>
            </ul>
          <p>Contact Elaine to find out more information</p>
          <p><b>Check out this great instructional video on how to use the ball machine</b></p>
           <iframe width="560" height="315" src="https://www.youtube.com/embed/YE2qrF5d34g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </p>
      </article>
     </div>
    </div>
   </section>
  </main>
    <%- include('./partials/_footer.ejs'); %>
</div>
</body>
</html>
